
.home-box {
    /* background-color: pink; */
    /* display: contents; */
    /* align-self: center;
    flex-direction: column;
    align-items: center; */
    /* height: 70vh; */
    width: 76vw;
}

.logo img {
    width: 50vw;
}

.home-input-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-input-box input {
    height: 30px;
    width: 80%;
}

.home-btn-box {
    height: 50vw;
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.home-btn-box button {
    width: 60%;
    height: 20%;
    margin-bottom: 0.81rem;
    border-radius: 60px;
    outline: none;
    border: 0;
    font-family: PingFangSC;
    font-size: 15px;
    color: rgb(255,255,255);
    transform: scale(1.2);
    display: inherit;
}

.home-btn-box button span {
    margin:0 auto;
    width: 5.85rem;
    height: 1.16rem;
    line-height: 16px;
  }

.home-btn-query {
    background: #F88383 ;
    box-shadow: 0 0.3rem 0.5rem rgba(39, 39, 39, 0.16);
}
.home-btn-toFind {
    background: rgba(82, 180, 245, 0.726);
    box-shadow: 0 0.3rem 0.5rem rgba(39, 39, 39, 0.16);
}


.score-drawback-box {
    margin-bottom: 5vw;
}

.score-box {
    width: 76vw;
}

.score-info-container {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
}

.score-info {
    width: 91%;
    padding-left: 10px;
    font-size: 2vh;
    font-weight: 700;
    font-family: PingFang SC;
}

.score-line-container {
    width: 9%;
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.score-line {
    width: 1px;
    height: 80%;
    background-color: rgb(206, 206, 206);
    border-radius: 1px;
}

.score-logo-oral img{
    width: 25vw;
}

.input-box, .input-code-box {
    height: 3rem;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0.3rem 0.1rem rgba(48,48,48,0.16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-box {
    width: 60vw;
    margin-top: 3vh;
}

.input-code-box {
    width: 60vw;
    margin-top: 3vh;
}

.input-icon-box img {
    height: 1.1rem;
}

.input-box img {
    height: 0.9rem;
}

.input-box input {
    width: 60%;
    height: 1.42rem;
    border: none;
    background-color: #fff;
}

.input-code-box input{
    width: 25%;
    height: 1.42rem;
    border: none;
    background-color: #fff;
}

.input-code-box > button {
    display: contents;
    padding: 0;
    outline: none;
    border: 0;
    font-size: 15px;
}

.input-code-btn {
    color: grey;
}

.input-code-img {
    width: 80px;
    height: 80%;
}