html body {
  background-color: 	#4b4b4b;
}


.App {
  margin: 2vh auto;
  background: url('./assets/home-bg.png')  25%/10% no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


